apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sample-api-dev

namePrefix: dev-
commonLabels:
  environment: dev

resources:
  - ../../base

patches:
  - path: deployment-patch.yaml
