apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sample-api-prod

namePrefix: prod-
commonLabels:
  environment: production

resources:
  - ../../base

patches:
  - path: deployment-patch.yaml
